GtkTextView#black-text {
    color: black;
}

GtkTextView#black-text:selected {
    background-color: black;
    background: black;
    color: white;
}

GtkTextView#white-text {
    color: white;
}

GtkTextView#white-text:selected {
    background-color: white;
    background: white;
    color: black;
}
